<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
 		<title>My Little Website</title>
  		<link rel="stylesheet" href="/static/css/homepage.css">
	</head>
	<div>
		<center>
			<h1>This is still very much a work in progress</h1>
			<h2>There are some fun easter eggs already available though 🦧👀</h2>
			<p>Want to visit the lucrative Danny Devito fan club?? Look no further!</p>
			<button onclick="location.href = '/devito?userName=Guest'">Danny Devito Fan Club</button>
		</center>
	</div>
</html>
