<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
 		<title>Devito Survey</title>
  		<link rel="stylesheet" href="/static/css/style.css">
	</head>
	<div>
		<h2>Danny Devito Quiz</h2>

		<p>Has Danny Devito ever won an Emmy?</p>

		<form method="post" action="/results">
			<input type="radio" id="yes" name="didHeWin" value="yes">
			<label for="yes">Yes</label><br>
			<input type="radio" id="no" name="didHeWin" value="no">
			<label for="no">No</label><br>
			<input type="submit" value="Submit">
		</form> 
		
	</div>
</html>